
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <b>Explore By:</b>
    <ul>
        <li>@Html.ActionLink("Artists / Groups", "Index", "MusicalEntities", null, null)</li>
        <li>@Html.ActionLink("People", "Index", "People", null, null)</li>
        <li>@Html.ActionLink("Location", "Index", "Locations", null, null)</li>
        <li>Format</li>
    </ul>
</div>

<div>
    Upcoming Gigs

    Stuff to be received
</div>

<div>
    On This Day...
</div>

<div>
    This Month's Purchases...
</div>
