@model MusicDatabase.ViewModel.PersonDetails

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<div>
    <hr />

    @if (Model.EventsAttended.Count > 0)
    {
        <h4>Events Attended</h4>
        Html.RenderPartial("_MusicalEventListing", Model.EventsAttended);
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
