@model IEnumerable<MusicalEventListing>
@using MusicDatabase.ViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Musical Events</h2>

@{
    var yearsList = from e in Model
                    group e by e.EventDate.Year into g
                    select new { Year = g.Key, Events = g };

}

@foreach(var year in yearsList.OrderByDescending(y => y.Year))
{
    <h4>@year.Year</h4>

    Html.RenderPartial("_MusicalEventListing", year.Events);
}
